[defaults]
forks = 20
inventory = ./inventory
#vault_identity_list = "vault@scripts/vault-op-client.sh"
roles_path = ./roles

# Allow displaying and gathering custom stats
# show_custom_stats = True

# Speed up fact gathering
# Don't gather facts on each role (can be overwritten in playbooks)
gathering = smart
# Cache facts
fact_caching = jsonfile
fact_caching_connection = .ansible/facts
fact_caching_timeout = 600

# Disable useless features
nocows = True
retry_files_enabled = False
interpreter_python = auto_silent

# Toggles the use of persistence for connections.
use_persistent_connections = True

pipelining = True

[inventory]
enable_plugins = yaml, ini
# Abort if the inventory is empty
unparsed_is_failed = True

[privilege_escalation]
become = True

[persistent_connection]
# This controls how long the persistent connection will remain idle before it is destroyed.
connect_timeout = 600
