# Managed by Ansible (roles/pocket_id) -- see pocket_id_* vars to change.
# https://pocket-id.org/docs/configuration/environment-variables

APP_URL={{ pocket_id_app_url }}
TRUST_PROXY={{ pocket_id_trust_proxy | lower }}
ENCRYPTION_KEY={{ pocket_id_encryption_key }}
PUID={{ pocket_id_user.uid }}
PGID={{ pocket_id_group.gid }}
