# Managed by Ansible (roles/backup) -- see backup_* vars to change.
# Sourced by /usr/local/sbin/backup-run.
RESTIC_REPOSITORY="{{ backup_restic_repository }}"
RESTIC_PASSWORD="{{ backup_restic_password }}"
AWS_ACCESS_KEY_ID="{{ backup_b2_account_id }}"
AWS_SECRET_ACCESS_KEY="{{ backup_b2_account_key }}"
RESTIC_CACHE_DIR=/var/cache/restic
BACKUP_RETENTION="{{ backup_retention }}"
