# Managed by Ansible (roles/pocket_id) -- see pocket_id_* vars to change.
# https://pocket-id.org/docs/configuration/environment-variables

APP_URL=https://{{ pocket_id_app_hostname }}
TRUST_PROXY={{ pocket_id_trust_proxy | lower }}
ENCRYPTION_KEY={{ pocket_id_encryption_key }}
# Rootless podman: container uid 0 already maps to the unprivileged host
# pocket-id user. Any other PUID gets remapped through the subuid range and
# the entrypoint's chown of /app/data would fight the Ansible-managed
# ownership on every restart.
PUID=0
PGID=0
